* {
  box-sizing: border-box; }

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: #0366d6; }

html {
  height: 100%; }
  html body {
    color: #333;
    letter-spacing: 1px;
    min-height: 100%;
    padding-bottom: 60px;
    position: relative; }
    html body .container-fluid {
      padding: 0 20px; }
      html body .container-fluid .app-heading {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 2px; }
      html body .container-fluid #tabs {
        margin: 28px auto 0;
        max-width: 800px; }
        html body .container-fluid #tabs .nav-tabs {
          background: #f2f2f2;
          border-bottom: 1px solid #ccc;
          padding: 10px 0 0 10px; }
          html body .container-fluid #tabs .nav-tabs li.active a,
          html body .container-fluid #tabs .nav-tabs li.active a:hover,
          html body .container-fluid #tabs .nav-tabs li.active a:active,
          html body .container-fluid #tabs .nav-tabs li.active a:focus {
            background: #fff;
            border: 1px solid #ccc;
            border-bottom: transparent !important; }
          html body .container-fluid #tabs .nav-tabs li a,
          html body .container-fluid #tabs .nav-tabs li a:active {
            border: none;
            border-radius: 0;
            color: #333;
            padding: 12px; }
            html body .container-fluid #tabs .nav-tabs li a:hover,
            html body .container-fluid #tabs .nav-tabs li a:active:hover {
              background: #f2f2f2; }
            html body .container-fluid #tabs .nav-tabs li a:focus,
            html body .container-fluid #tabs .nav-tabs li a:active:focus {
              outline: none; }
          html body .container-fluid #tabs .nav-tabs li:first-child a:before {
            content: "\F121";
            font-family: FontAwesome; }
          html body .container-fluid #tabs .nav-tabs li:nth-child(2) a:before {
            content: "\F06E";
            font-family: FontAwesome; }
        html body .container-fluid #tabs textarea.form-control {
          background: #333;
          color: #fff;
          font-family: Menlo, Courier, monospace;
          letter-spacing: 2px;
          margin-top: 15px; }
        html body .container-fluid #tabs .preview {
          margin-top: 20px;
          padding: 0 20px; }
          html body .container-fluid #tabs .preview blockquote {
            border-left: 4px solid #ccc;
            padding: 10px; }
          html body .container-fluid #tabs .preview img {
            width: 100%; }
          html body .container-fluid #tabs .preview hr {
            border-top: 1px solid #ccc; }
          html body .container-fluid #tabs .preview th {
            background: #f2f2f2; }
          html body .container-fluid #tabs .preview th,
          html body .container-fluid #tabs .preview td {
            border: 1px solid #ccc;
            padding: 8px; }
      html body .container-fluid footer {
        bottom: 0;
        font-size: 1.2rem;
        left: 0;
        letter-spacing: 2px;
        margin: 0;
        padding: 12px 0;
        position: absolute;
        right: 0;
        width: 100%; }

