@import "variables";

* {
  box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: $blue;
}

html {
  height: 100%;
  body {
    color: change-color($grayscale, $lightness: 20%);
    letter-spacing: 1px;
    min-height: 100%;
    padding-bottom: 60px;
    position: relative;
    .container-fluid {
      padding: 0 20px;
      .app-heading {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 2px;
      }
      #tabs {
        margin: 28px auto 0;
        max-width: 800px;
        .nav-tabs {
          background: change-color($grayscale, $lightness: 95%);
          border-bottom: 1px solid change-color($grayscale, $lightness: 80%);
          padding: 10px 0 0 10px;
          li.active a,
          li.active a:hover,
          li.active a:active,
          li.active a:focus {
            background: change-color($grayscale, $lightness: 100%);
            border: 1px solid change-color($grayscale, $lightness: 80%);
            border-bottom: transparent !important;
          }
          li a,
          li a:active {
            border: none;
            border-radius: 0;
            color: change-color($grayscale, $lightness: 20%);
            padding: 12px;
            &:hover {
              background: change-color($grayscale, $lightness: 95%);
            }
            &:focus {
              outline: none;
            }
          }
          li:first-child a:before {
            content: "\f121";
            font-family: FontAwesome;
          }
          li:nth-child(2) a:before {
            content: "\f06e";
            font-family: FontAwesome;
          }
        }
        textarea.form-control {
          background: change-color($grayscale, $lightness: 20%);
          color: change-color($grayscale, $lightness: 100%);
          font-family: $edit-font;
          letter-spacing: 2px;
          margin-top: 15px;
        }
        .preview {
          margin-top: 20px;
          padding: 0 20px;
          blockquote {
            border-left: 4px solid change-color($grayscale, $lightness: 80%);
            padding: 10px;
          }
          img {
            width: 100%;
          }
          hr {
            border-top: 1px solid change-color($grayscale, $lightness: 80%);
          }
          th {
            background: change-color($grayscale, $lightness: 95%);
          }
          th,
          td {
            border: 1px solid change-color($grayscale, $lightness: 80%);
            padding: 8px;
          }
        }
      }
      footer {
        bottom: 0;
        font-size: 1.2rem;
        left: 0;
        letter-spacing: 2px;
        margin: 0;
        padding: 12px 0;
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
  }
}
